.title{
	text-align: center;
	color: #b4b7b8;
}

select{
	    background-color: white; /* background */
border: 1px solid #8faac4; /* border */
	color: #8faac4; /* White text */
    padding: 10px 17px; /* Some padding */
   
}

.btn-group button {
    background-color: #8faac4; /* background */
    border: 1px solid white; /* border */
	color: white; /* White text */
    padding: 10px 17px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:last-child {
  border-radius: 0 3px 3px 0;
}

.btn-group button:first-child{
  border-radius:  3px 0 0 3px ;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #4a759e;
}

.btn-group button.active {
    background-color: #4a759e;
}


.firstfilters{
	margin-top:3%;
}