body{
	overflow-x: hidden;
}

/* title and navigation buttons */
.nav-header{
	margin-top:3%;
}

.title{
	text-align: center;
	color: #b4b7b8;
}

#previous, #next{
	cursor: pointer;
}	

#previous:hover{
  margin-left: -25px;
 }

 #next:hover{
  margin-right: -25px;
 }

/* filters - first row*/

.firstfilters{
	margin-top:4%;
}
 
 #selectCountry{
	color:#b4b7b8;
	padding-right:25px;
	padding-top:5px;
	margin-bottom:0px;
 }
 
select{
	background-color: white; /* background */
	border: 1px solid #8faac4; /* border */
	color: #8faac4; /* White text */
	padding: 5px 17px; /* Some padding */
}

.btn-group button {
    background-color: white; /* background */
    border: 1px solid #8faac4; /* border */
	color: #8faac4; /* White text */
    padding: 5px 16px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:last-child {
  border-radius: 0 3px 3px 0;
}

.btn-group button:first-child{
  border-radius:  3px 0 0 3px ;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #8faac4;
	color:white;
}

.btn-group button.active {
    background-color: #8faac4;
	color:white;
}

/* charts */
#chart1, #chart2{
	margin-top:5%;
	z-index:0;
}



.multiselect {
  width: 200px;
}

.selectBox {
  display:inline;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
    z-index: 1000;
  position: absolute;
  background-color:white;
  width: 200px;
}

#checkboxes label {
  z-index: 1000;
}
